tutorials
data
meetup_talk
ssh_pycharm.txt

*ipynb_checkpoints
*__pycache__
*.Rhistory
.idea
notes.md

graph_conv_net/experiments/mlruns/*
doc/tmp/*
*.html

*.out
*.log
*.aux
*.bbl
*.blg
*.lof
*.lot
*.toc
*.synctex.gz
*.pdf

thesis/Chapter-ChapAbbr.tex
thesis/Figures/Figure-SampleVectorGraphic.*
thesis/Fonts
thesis/Example.bib
thesis/structure.md
thesis/install-getnonfreefonts
graph_conv_net/graph_conv_net/run.py
