tutorials
data
data_full
tmp
literature

*ipynb_checkpoints
*__pycache__
*.Rhistory
.idea
notes.md

graph_conv_net/experiments/mlruns/*
doc/tmp/*
*.html

*.out
*.log
*.aux
*.bbl
*.blg
*.lof
*.lot
*.toc
*.synctex.gz
*.pdf
