tutorials
data

*ipynb_checkpoints
*__pycache__
*.Rhistory

*.out
*.log
*.aux
*.bbl
*.blg
*.lof
*.lot
*.toc
*.synctex.gz
*.pdf

thesis/Chapter-ChapAbbr.tex
thesis/Figures/Figure-SampleVectorGraphic.*
thesis/Fonts
thesis/Example.bib
